.app {
  position: relative;
  padding: 20px;
}

.ace-container {
  padding: 0 !important;
}

.help-row {
  margin: 10px 0 20px 0;
}

.graph-con {
  overflow: auto;
  min-height: 200px;
  margin-bottom: 20px;
}

.github-link {
  position: absolute;
  top: 8px;
  right: 14px;
}
