.app {
  padding: 0 20px;
}

.ace-con {
  border: 1px solid black;
  margin-bottom: 20px;
}

.options-row {
  margin: 0 0 20px 0;
}

.option-item > label {
  font-size: 12px;
}

.option-item {
  margin-right: 10px;
}

.graph-con {
  border: 1px solid black;
  overflow: auto;
  min-height: 200px;
}
